@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  color: #000;
  font-size: 14px;
  background: #FFFFFF;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.icon-scale:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 36px 0px 0px 0px;
  z-index: 20;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}
@media (max-width: 700px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .header__logo {
    margin: 0px 0px 10px 0px;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 479.98px) {
  .header__contacts {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #FFFFFF;
  max-width: 151px;
  margin: 0px 69px 0px 0px;
}
@media (max-width: 479.98px) {
  .header__address {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .header__address {
    margin: 0px 0px 10px 0px;
  }
}
.header__phone {
  max-width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-header__icon {
  width: 17px;
  height: 17px;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.address-header__icon img {
  width: 15px;
  height: 19px;
}
.phone-header__icon {
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 5px 13px 0px 0px;
}
.phone-header__icon img {
  width: 19px;
  height: 19px;
}
.phone-header__content {
  max-width: 180px;
}
.phone-header__number {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}
.phone-header__number a {
  color: #FFFFFF;
}
.phone-header__number:hover {
  text-decoration: underline;
}
.phone-header__time {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.mainblock {
  position: relative;
  padding: 307px 0px 465px 0px;
}
@media (max-width: 767.98px) {
  .mainblock {
    padding: 200px 0px 200px 0px;
  }
}
.mainblock__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.mainblock__container {
  max-width: 1200px;
  margin: 0 auto;
}
.mainblock__content {
  max-width: 650px;
  margin: 0px 10px;
}
.mainblock__category {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #2E363E;
  background-color: #F2F6FA;
  text-transform: uppercase;
  margin: 0px 0px 24px 0px;
}
.mainblock__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
  color: #FFFFFF;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 767.98px) {
  .mainblock__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 479.98px) {
  .mainblock__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.mainblock__text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0em;
  color: #FFFFFF;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 479.98px) {
  .mainblock__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.mainblock__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .mainblock__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainblock-berryleft {
  position: absolute;
  z-index: -1;
  display: inline-block;
  height: 201px;
  width: 196px;
  top: 20%;
  left: -3%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mainblock-berryleft img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryleft {
    height: 134px;
    width: 130.6666666667px;
  }
}

.mainblock-leafleft {
  position: absolute;
  z-index: -1;
  display: inline-block;
  height: 286px;
  width: 275px;
  bottom: 80px;
  left: 0;
}
.mainblock-leafleft img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-leafleft {
    bottom: 20px;
    height: 190.6666666667px;
    width: 183.3333333333px;
  }
}

.mainblock-berryright {
  position: absolute;
  display: inline-block;
  height: 175px;
  width: 170px;
  top: 9%;
  right: -2%;
  z-index: -1;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}
.mainblock-berryright img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryright {
    height: 116.6666666667px;
    width: 113.3333333333px;
  }
}

.mainblock-berryrightbottom {
  position: absolute;
  display: inline-block;
  height: 201px;
  width: 196px;
  bottom: 13%;
  right: 11%;
  z-index: -1;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}
.mainblock-berryrightbottom img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryrightbottom {
    height: 134px;
    width: 130.6666666667px;
  }
}

.footer-mainblock__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 30px 50px;
  background-color: #FED84C;
  border-radius: 8px;
  margin: 0px 20px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .footer-mainblock__button {
    padding: 18px 38px;
  }
}
@media (max-width: 479.98px) {
  .footer-mainblock__button {
    margin: 0px 0px 10px 0px;
  }
}
@media (min-width: 767.98px) {
  .footer-mainblock__button:hover {
    background-color: #FFFFFF;
  }
}
.footer-mainblock__text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .footer-mainblock__text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 5px;
    border-radius: 8px;
  }
}
@media (max-width: 479.98px) {
  .footer-mainblock__text {
    max-width: 100%;
  }
}

.shop {
  margin: -2px 0px 0px 0px;
  background-color: #FFFFFF;
}
.shop__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.shop__body {
  margin: 0px 5px;
}
.shop__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: center;
  color: #2E363E;
  margin: 0px 0px 80px 0px;
}
@media (max-width: 767.98px) {
  .shop__title {
    font-size: 40px;
    line-height: 50px;
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 479.98px) {
  .shop__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.shop__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .shop__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .shop__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.shop-raspberry {
  position: absolute;
  width: 190px;
  height: 194px;
  top: 13.5%;
  left: -9%;
}
.shop-raspberry img {
  width: 100%;
}
@media (max-width: 1192px) {
  .shop-raspberry {
    left: -6%;
  }
}
@media (max-width: 991.98px) {
  .shop-raspberry {
    top: 11%;
  }
}
@media (max-width: 767.98px) {
  .shop-raspberry {
    top: 10%;
    height: 126.6666666667px;
    width: 129.3333333333px;
  }
}
@media (max-width: 600px) {
  .shop-raspberry {
    display: none;
  }
}

.shop-leafleft {
  position: absolute;
  width: 133px;
  height: 129px;
  top: 72%;
  left: -9%;
}
.shop-leafleft img {
  width: 100%;
}
@media (max-width: 1300px) {
  .shop-leafleft {
    left: -5%;
  }
}
@media (max-width: 1192px) {
  .shop-leafleft {
    left: -4%;
  }
}
@media (max-width: 991.98px) {
  .shop-leafleft {
    top: 66%;
  }
}
@media (max-width: 600px) {
  .shop-leafleft {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .shop-leafleft {
    height: 134px;
    width: 130.6666666667px;
  }
}

.shop-leafright {
  position: absolute;
  width: 161px;
  height: 167px;
  top: 53%;
  right: -9%;
}
.shop-leafright img {
  width: 100%;
}
@media (max-width: 1300px) {
  .shop-leafright {
    right: -6%;
  }
}
@media (max-width: 1192px) {
  .shop-leafright {
    top: 46%;
  }
}
@media (max-width: 991.98px) {
  .shop-leafright {
    top: 56%;
  }
}
@media (max-width: 600px) {
  .shop-leafright {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .shop-leafright {
    height: 134px;
    width: 130.6666666667px;
  }
}

.item-shop {
  width: 100%;
  border: 1px solid rgb(242, 246, 250);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-shop__image img {
  width: 100%;
}
.item-shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 44px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (max-width: 991.98px) {
  .item-shop__content {
    margin: 25px 22px;
  }
}
@media (max-width: 600px) {
  .item-shop__content {
    margin: 25px 0px 25px 0px;
  }
}
.item-shop__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 12px 0px;
}
.item-shop__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 24px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.item-shop__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #434B53;
  margin: 0px 0px 14px 0px;
}
.item-shop__button {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 20px 40px;
  background-color: #FED84C;
  border-radius: 8px;
  width: 163px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  .item-shop__button:hover {
    background-color: #ffeca5;
  }
}
@media (max-width: 479.98px) {
  .item-shop__button {
    width: 100%;
  }
}

.create {
  position: relative;
  background-color: rgb(8, 17, 48);
}
.create__leaf {
  position: absolute;
  width: 110px;
  height: 114px;
  top: 30%;
  left: 20%;
}
.create__berry {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 23%;
  right: 8%;
}
.create__container {
  max-width: 1920px;
  margin: 0 auto;
}
.create__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 439px 10px 0px 0px;
  z-index: 3;
}
@media (max-width: 1700px) {
  .create__content {
    padding: 230px 0px 0px 0px;
  }
}
@media (max-width: 1400px) {
  .create__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991.98px) {
  .create__content {
    padding: 0px 0px 0px 0px;
  }
}
.create__decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
@media (max-width: 1400px) {
  .create__decor {
    height: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.create__image {
  position: relative;
  padding-bottom: 100%;
  max-width: 1090px;
  max-height: 1034px;
  overflow: hidden;
}
.create__image img {
  width: 100%;
}
@media (min-width: 1920px) {
  .create__image {
    padding-bottom: 95%;
  }
}
@media (max-width: 1530px) {
  .create__image {
    padding-bottom: 10%;
  }
}
@media (max-width: 1400px) {
  .create__image {
    padding-bottom: 0;
  }
}
.create__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  max-width: 481px;
  margin: 120px 0px 0px 0px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .create__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 780px;
  }
}
@media (max-width: 991.98px) {
  .create__body {
    margin: 120px 10px 0px 10px;
  }
}
.create__category {
  display: inline-block;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  color: #2E363E;
  padding: 10px 18px;
  background-color: #F2F6FA;
  border-radius: 5px;
  margin: 0px 0px 24px 0px;
}
.create__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
  color: #FFFFFF;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 479.98px) {
  .create__title {
    font-size: 38px;
    line-height: 45px;
  }
}
.create__text {
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: #FFFFFF;
  margin: 0px 0px 40px 0px;
}
.create__button {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 30px 50px;
  border-radius: 8px;
  background-color: #FED84C;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 767.98px) {
  .create__button:hover {
    background-color: #FFFFFF;
  }
}
@media (max-width: 479.98px) {
  .create__button {
    width: 100%;
    padding: 15px 0px;
  }
}

.bg-create__top {
  position: absolute;
  width: 100%;
  top: -1px;
  left: 0;
}
.bg-create__top img {
  width: 100%;
}
.bg-create__bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0px 0px -2px 0px;
}
.bg-create__bottom img {
  width: 100%;
}

.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.confectioner__container {
  max-width: 1200px;
  margin: 0 auto;
}
.confectioner__content {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1120px) {
  .confectioner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.confectioner__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 97px 0px 96px 0px;
}
@media (max-width: 1120px) {
  .confectioner__body {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    padding: 50px 0px 50px 0px;
  }
}
.confectioner__category {
  display: inline-block;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2E363E;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #F2F6FA;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 479.98px) {
  .confectioner__category {
    width: 100%;
    text-align: center;
  }
}
.confectioner__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
  margin: 0px 0px 36px 0px;
  color: #2E363E;
}
@media (max-width: 767.98px) {
  .confectioner__title {
    font-size: 36px;
    line-height: 50px;
  }
}
@media (max-width: 479.98px) {
  .confectioner__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.confectioner__list {
  max-width: 438px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 50px 0px;
}
.confectioner__item {
  padding: 0px 0px 0px 22px;
  margin: 0px 0px 30px 0px;
  position: relative;
}
.confectioner__item:last-child {
  margin: 0px 0px 0px 0px;
}
.confectioner__item:before {
  position: absolute;
  content: "";
  top: 10%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5D6AFB;
}
.confectioner__button {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 30px 50px;
  background-color: #FED84C;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 479.98px) {
  .confectioner__button {
    width: 100%;
  }
}
@media (min-width: 767.98px) {
  .confectioner__button:hover {
    background-color: #ffeca5;
  }
}
.confectioner__background {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1120px) {
  .confectioner__background {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (max-width: 767.98px) {
  .confectioner__background {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.confectioner__images {
  position: relative;
}
@media (max-width: 1120px) {
  .confectioner__image img {
    width: 100%;
  }
}
.confectioner__cook {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 180px;
  left: 0;
  z-index: 6;
}
@media (max-width: 1192px) {
  .confectioner__cook {
    left: 40px;
  }
}
@media (max-width: 767.98px) {
  .confectioner__cook {
    top: 0;
    left: 0;
  }
}

.cook-confectioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 287px;
  margin: 370px 0px 0px -90px;
}
@media (max-width: 767.98px) {
  .cook-confectioner {
    max-width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0px 0px 0px 0px;
  }
}
.cook-confectioner__name {
  position: relative;
  display: inline-block;
  padding: 15px 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.3000000119px;
  color: #FFFFFF;
}
.cook-confectioner__name:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2E363E;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  z-index: -1;
}
@media (max-width: 479.98px) {
  .cook-confectioner__name {
    font-size: 18px;
  }
}
.cook-confectioner__label {
  position: relative;
  display: inline-block;
  padding: 15px 24px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  color: #2E363E;
  text-transform: uppercase;
}
.cook-confectioner__label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F2F6FA;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  z-index: -1;
}
@media (max-width: 479.98px) {
  .cook-confectioner__label {
    font-size: 12px;
    padding: 10px 18px;
  }
}

.woman-confectioner {
  z-index: -1;
}

.berry-confectioner {
  position: absolute;
  top: 120px;
  left: -15px;
  z-index: -2;
}
@media (max-width: 600px) {
  .berry-confectioner {
    top: 100px;
    left: -10px;
  }
}
@media (max-width: 479.98px) {
  .berry-confectioner {
    top: 5px;
    left: -50px;
  }
}

.leaves-confectioner {
  position: absolute;
  top: 120px;
  right: 15px;
  z-index: -2;
}
@media (max-width: 600px) {
  .leaves-confectioner {
    top: 100px;
    right: -10px;
  }
}
@media (max-width: 479.98px) {
  .leaves-confectioner {
    top: 5px;
    right: -50px;
  }
}

.reviews {
  position: relative;
  background-color: rgb(8, 17, 48);
  z-index: 0;
}
.reviews__container {
  margin: 0 auto;
}
.reviews__content {
  padding: 330px 0px 288px 0px;
}
@media (max-width: 1192px) {
  .reviews__content {
    padding: 330px 5px 288px;
  }
}
@media (max-width: 991.98px) {
  .reviews__content {
    padding: 230px 5px 200px;
  }
}
@media (max-width: 479.98px) {
  .reviews__content {
    padding: 130px 5px 100px;
  }
}
.reviews__background {
  width: 100%;
  height: 100%;
}
.reviews__title {
  display: block;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 0px 80px 0px;
  z-index: 5;
}
@media (max-width: 479.98px) {
  .reviews__title {
    font-size: 38px;
    line-height: 45px;
  }
}

.background-reviews__top {
  position: absolute;
  width: 100%;
  top: -2px;
  left: 0;
}
.background-reviews__top img {
  width: 100%;
}
.background-reviews__bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.background-reviews__bottom img {
  width: 100%;
}
.background-reviews__leaf {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 10%;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .background-reviews__leaf {
    top: 10%;
  }
}
@media (max-width: 479.98px) {
  .background-reviews__leaf {
    top: 9%;
  }
}

div.swiper-slide-active .swiper-slide-visible {
  margin: 0px 25px;
}

.swiper__berry {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -7%;
  right: -75%;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .swiper__berry {
    top: -35px;
    width: 150px;
    height: 150px;
    right: 0;
  }
  .swiper__berry img {
    width: 100%;
  }
}

.swiper-slide {
  background-color: #FFFFFF;
  border-radius: 5px;
  max-width: 1180px;
}
.swiper-slide__content {
  margin: 70px 143px;
}
@media (max-width: 1192px) {
  .swiper-slide__content {
    margin: 45px 72px;
  }
}
@media (max-width: 991.98px) {
  .swiper-slide__content {
    margin: 20px 30px;
  }
}
@media (max-width: 600px) {
  .swiper-slide__content {
    margin: 20px 20px;
  }
}
.swiper-slide__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (max-width: 767.98px) {
  .swiper-slide__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.swiper-slide__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
.swiper-slide__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-slide__image img {
  width: 100%;
}

.more {
  display: none;
}

.swiper-column__content {
  margin: 0px 54px 0px 0px;
}
@media (max-width: 767.98px) {
  .swiper-column__content {
    margin: 0px 0px 10px 0px;
  }
}
.swiper-column__item {
  margin: 0px 0px 24px 0px;
}
.swiper-column__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  color: #2E363E;
  margin: 0px 0px 24px 0px;
  z-index: 3;
}
.swiper-column__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 24px 0px;
}
.swiper-column__image {
  margin: 0px 0px 30px 0px;
}
.swiper-column__name {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
}
.swiper-column__city {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #A6AEB6;
}

.image-elena {
  border-radius: 50%;
  overflow: hidden;
}

div.slider-prev:before,
div.slider-prev:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: url("../img/reviews/arrow-prev.png") 45% center no-repeat;
  background-color: #FED84C;
}

.slider-next:before,
.slider-prev:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: url("../img/reviews/arrow-next.png") 55% center no-repeat;
  background-color: #FED84C;
}

div.swiper-3d .swiper-slide-shadow-left,
div.swiper-3d .swiper-slide-shadow-right {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 17, 48, 0.93)), to(rgba(8, 17, 48, 0.93)));
  background: linear-gradient(rgba(8, 17, 48, 0.93), rgba(8, 17, 48, 0.93));
  width: 101%;
  height: 101%;
  top: -2px;
  left: -2px;
}

.swiper__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 66px 0px 0px 0px;
  z-index: 6;
}
@media (max-width: 991.98px) {
  .swiper__buttons {
    margin: 40px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .swiper__buttons {
    margin: 20px 0px 0px 0px;
  }
}

.slider-prev,
.slider-next {
  position: relative;
  width: 66px;
  height: 66px;
  z-index: 2;
  cursor: pointer;
}

.slider-prev {
  margin: 0px 12px 0px 0px;
  left: 0;
}

.slider-next {
  margin: 0px 0px 0px 12px;
  right: 0;
}