@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  color: #000;
  font-size: 14px;
  background: #FFFFFF;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.icon-scale:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 36px 0px 0px 0px;
  z-index: 20;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}
@media (max-width: 700px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .header__logo {
    margin: 0px 0px 10px 0px;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 479.98px) {
  .header__contacts {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #FFFFFF;
  max-width: 151px;
  margin: 0px 69px 0px 0px;
}
@media (max-width: 479.98px) {
  .header__address {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .header__address {
    margin: 0px 0px 10px 0px;
  }
}
.header__phone {
  max-width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-header__icon {
  width: 17px;
  height: 17px;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.address-header__icon img {
  width: 15px;
  height: 19px;
}
.phone-header__icon {
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 5px 13px 0px 0px;
}
.phone-header__icon img {
  width: 19px;
  height: 19px;
}
.phone-header__content {
  max-width: 180px;
}
.phone-header__number {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}
.phone-header__number a {
  color: #FFFFFF;
}
.phone-header__number:hover {
  text-decoration: underline;
}
.phone-header__time {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.mainblock {
  position: relative;
  padding: 307px 0px 465px 0px;
}
@media (max-width: 767.98px) {
  .mainblock {
    padding: 200px 0px 200px 0px;
  }
}
.mainblock__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.mainblock__container {
  max-width: 1200px;
  margin: 0 auto;
}
.mainblock__content {
  max-width: 650px;
  margin: 0px 10px;
}
.mainblock__category {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #2E363E;
  background-color: #F2F6FA;
  text-transform: uppercase;
  margin: 0px 0px 24px 0px;
}
.mainblock__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
  color: #FFFFFF;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 767.98px) {
  .mainblock__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 479.98px) {
  .mainblock__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.mainblock__text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0em;
  color: #FFFFFF;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 479.98px) {
  .mainblock__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.mainblock__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .mainblock__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainblock-berryleft {
  position: absolute;
  z-index: -1;
  display: inline-block;
  height: 201px;
  width: 196px;
  top: 20%;
  left: -3%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mainblock-berryleft img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryleft {
    height: 134px;
    width: 130.6666666667px;
  }
}

.mainblock-leafleft {
  position: absolute;
  z-index: -1;
  display: inline-block;
  height: 286px;
  width: 275px;
  bottom: 80px;
  left: 0;
}
.mainblock-leafleft img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-leafleft {
    bottom: 20px;
    height: 190.6666666667px;
    width: 183.3333333333px;
  }
}

.mainblock-berryright {
  position: absolute;
  display: inline-block;
  height: 175px;
  width: 170px;
  top: 9%;
  right: -2%;
  z-index: -1;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}
.mainblock-berryright img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryright {
    height: 116.6666666667px;
    width: 113.3333333333px;
  }
}

.mainblock-berryrightbottom {
  position: absolute;
  display: inline-block;
  height: 201px;
  width: 196px;
  bottom: 13%;
  right: 11%;
  z-index: -1;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}
.mainblock-berryrightbottom img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .mainblock-berryrightbottom {
    height: 134px;
    width: 130.6666666667px;
  }
}

.footer-mainblock__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 30px 50px;
  background-color: #FED84C;
  border-radius: 8px;
  margin: 0px 20px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .footer-mainblock__button {
    padding: 18px 38px;
  }
}
@media (max-width: 479.98px) {
  .footer-mainblock__button {
    margin: 0px 0px 10px 0px;
  }
}
@media (min-width: 767.98px) {
  .footer-mainblock__button:hover {
    background-color: #FFFFFF;
  }
}
.footer-mainblock__text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .footer-mainblock__text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 5px;
    border-radius: 8px;
  }
}
@media (max-width: 479.98px) {
  .footer-mainblock__text {
    max-width: 100%;
  }
}

.shop {
  margin: -2px 0px 0px 0px;
  position: relative;
  background-color: #FFFFFF;
}
.shop__container {
  max-width: 1200px;
  margin: 0 auto;
}
.shop__body {
  margin: 0px 10px;
}
.shop__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: center;
  color: #2E363E;
  margin: 0px 0px 80px 0px;
}
.shop__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}
.shop-raspberry {
  position: absolute;
  width: 190px;
  height: 194px;
  top: 0;
  left: 0;
}
.shop-raspberry img {
  width: 100%;
}

.shop-leafleft {
  position: absolute;
  width: 113px;
  height: 109px;
  top: 0;
  left: 0;
}
.shop-leafleft img {
  width: 100%;
}

.shop-leafright {
  position: absolute;
  width: 161px;
  height: 167px;
  top: 0;
  left: 0;
}
.shop-leafright img {
  width: 100%;
}

.item-shop {
  max-width: 380px;
  border: 1px solid rgb(242, 246, 250);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-shop__image img {
  max-width: 100%;
}
.item-shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 44px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.item-shop__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 12px 0px;
}
.item-shop__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2E363E;
  margin: 0px 0px 24px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.item-shop__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #434B53;
  margin: 0px 0px 14px 0px;
}
.item-shop__button {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E363E;
  padding: 20px 40px;
  background-color: #FED84C;
  border-radius: 8px;
  width: 163px;
}