//====================================================================================================

.footer {
   background-color: rgba(8, 17, 48, 1);

   &__body {
      max-width: 1200px;
      margin: 0 auto;
   }

   &__background {

      img {
         margin: -3px 0px 0px 0px;
         width: 100%;
      }
   }

   &__content {
      position: relative;
      margin: 0px 10px 80px;
      padding: 70px 5px;
      background-color: #FFFFFF;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0px 0px 12px 0px;
   }

   &__text {
      font-size: 21px;
      line-height: 30px;
      letter-spacing: -0.20000000298023224px;
      text-align: center;
      color: #2E363E;
      margin: 0px 0px 36px 0px;
   }

   &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.leaf-top {
   position: absolute;
   top: -22%;
   left: -8%;

   @media (max-width: 1460px) {
      top: -15%;
      left: -3%;
   }

   @media (max-width: $md3+px) {
      top: -12%;
      left: -3%;

      img {
         width: 140px;
         height: 140px;
      }
   }

   @media (max-width: $md4+px) {
      top: -7%;
      left: -5%;

      img {
         width: 100px;
         height: 100px;
      }
   }
}

.berry-top {
   position: absolute;
   top: -24%;
   right: -12%;

   @media (max-width: 1460px) {
      top: -24%;
      right: -5%;
   }

   @media (max-width: $md3+px) {
      top: -12%;
      right: -5%;

      img {
         width: 150px;
         height: 150px;
      }
   }

   @media (max-width: $md4+px) {
      top: -7%;
      right: -5%;

      img {
         width: 100px;
         height: 100px;
      }
   }
}

.leaf-bottom {
   position: absolute;
   bottom: -33%;
   right: -13%;

   @media (max-width: 1460px) {
      bottom: -20%;
      right: -5%;
   }

   @media (max-width: $md3+px) {
      bottom: -12%;
      right: -5%;

      img {
         width: 150px;
         height: 150px;
      }
   }

   @media (max-width: $md4+px) {
      bottom: -7%;
      right: -5%;

      img {
         width: 100px;
         height: 100px;
      }
   }
}

.berry-bottom {
   position: absolute;
   bottom: -31%;
   left: -15%;

   @media (max-width: 1460px) {
      bottom: -27%;
      left: -5%;
   }

   @media (max-width: $md3+px) {
      bottom: -12%;
      left: -5%;

      img {
         width: 150px;
         height: 150px;
      }
   }

   @media (max-width: $md4+px) {
      bottom: -7%;
      left: -5%;

      img {
         width: 100px;
         height: 100px;
      }
   }
}

.form-footer {

   &__field {
      max-width: 780px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 5px 24px;

      @media (max-width: $md4+px) {
         flex-direction: column;
      }
   }

   &__data {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 5px;
   }
}

.phonenumber {

   &__input {
      width: 100%;
      background-color: #F2F6FA;
      line-height: 24px;
      border-radius: 8px;
      padding: 32px 0px 29px 31.5px;
      margin: 0px 20px 0px 0px;

      @media (max-width: $md4+px) {
         margin: 0px 0px 10px 0px;
      }
   }
}

.phonenumber__input:focus {
   box-shadow: 0 0 2px 1px #FED84C;
}

.phonenumber__input::placeholder {
   padding: 0px 0px 0px 26.5px;
   background: url('../img/footer/icon.png') left center no-repeat;
}

.formbutton {
   width: 100%;
   font-size: 18px;
   font-weight: 500;
   line-height: 27px;
   letter-spacing: 0em;
   text-align: center;
   padding: 29px 0px;
   border-radius: 8px;
   background-color: #FED84C;
}

.checkbox {

   &__input {
      margin: 0px 7px 0px 0px;
   }

   &__label {
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: #7E868E;
      padding: 1px 0px 0px 0px;

      a {
         color: #7E868E;
         text-decoration: underline;

         &:hover {
            text-decoration: none;
         }
      }
   }
}

.bottom-footer {
   padding: 0px 10px 80px 10px;
   display: flex;
   max-width: 605px;
   margin: 0 auto;
   flex-direction: column;
   font-size: 12px;
   line-height: 18px;
   letter-spacing: 0em;
   color: #7E868E;


   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 0px 22px 0px;

      a {
         color: #7E868E;
         margin: 0px 20px 0px 0px;

         &:hover {
            text-decoration: underline;
         }

         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }

      @media (max-width: 600px) {
         justify-content: center;
         flex-wrap: wrap;
      }
   }

   &__bottom {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}


//====================================================================================================