//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 36px 0px 0px 0px;
	z-index: 20;

	&__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 10px;

		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	&__logo {
		font-size: 21px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		color: #FFFFFF;

		@media (max-width: 700px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md4+px) {
			width: 100%;
		}

		@media (max-width: 400px) {
			flex-direction: column;
		}
	}

	&__address {
		display: flex;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0em;
		color: #FFFFFF;
		max-width: 151px;
		margin: 0px 69px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: 400px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__phone {
		max-width: 231px;
		display: flex;
	}
}

.address-header {

	&__icon {
		width: 17px;
		height: 17px;
		margin: 0px 10px 0px 0px;
		transition: all 0.5s ease 0s;

		img {
			width: 15px;
			height: 19px;
		}
	}

	&__location {}
}

.phone-header {

	&__icon {
		width: 19px;
		height: 19px;
		transition: all 0.5s ease 0s;
		margin: 5px 13px 0px 0px;

		img {
			width: 19px;
			height: 19px;
		}
	}

	&__content {
		max-width: 180px;
	}

	&__number {
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 0em;

		a {
			color: #FFFFFF;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__time {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0em;
		color: #FFFFFF;
	}
}