//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	height: 100%;
	color: #000;
	font-size: 14px;
	background: #FFFFFF;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<MAINBLOCK>====================================================================================================

.mainblock {
	position: relative;
	padding: 307px 0px 465px 0px;

	@media (max-width: $md3+px) {
		padding: 200px 0px 200px 0px;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
	}

	&__images {}

	&__image {}

	&__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__content {
		max-width: 650px;
		margin: 0px 10px;
	}

	&__category {
		display: inline-block;
		padding: 10px 18px;
		border-radius: 5px;
		font-size: 11px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-align: left;
		color: #2E363E;
		background-color: #F2F6FA;
		text-transform: uppercase;
		margin: 0px 0px 24px 0px;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		line-height: 60px;
		letter-spacing: -1px;
		text-align: left;
		color: #FFFFFF;
		margin: 0px 0px 24px 0px;

		@media (max-width: $md3+px) {
			font-size: 40px;
			line-height: 50px;
		}

		@media (max-width: $md4+px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0em;
		color: #FFFFFF;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md4+px) {
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__footer {
		display: flex;
		align-items: center;

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
}

.mainblock-berryleft {
	position: absolute;
	z-index: -1;
	display: inline-block;
	height: 201px;
	width: 196px;
	top: 20%;
	left: -3%;
	transform: rotate(-45deg);

	img {
		width: 100%;
	}

	@media (max-width: $md3+px) {
		height: calc(201px / 1.5);
		width: calc(196px / 1.5);
	}
}

.mainblock-leafleft {
	position: absolute;
	z-index: -1;
	display: inline-block;
	height: 286px;
	width: 275px;
	bottom: 80px;
	left: 0;

	img {
		width: 100%;
	}

	@media (max-width: $md3+px) {
		bottom: 20px;
		height: calc(286px / 1.5);
		width: calc(275px / 1.5);
	}
}

.mainblock-berryright {
	position: absolute;
	display: inline-block;
	height: 175px;
	width: 170px;
	top: 9%;
	right: -2%;
	z-index: -1;
	transform: rotate(28deg);

	img {
		width: 100%;
	}

	@media (max-width: $md3+px) {
		height: calc(175px / 1.5);
		width: calc(170px / 1.5);
	}
}

.mainblock-berryrightbottom {
	position: absolute;
	display: inline-block;
	height: 201px;
	width: 196px;
	bottom: 13%;
	right: 11%;
	z-index: -1;
	transform: rotate(-150deg);

	img {
		width: 100%;
	}

	@media (max-width: $md3+px) {
		height: calc(201px / 1.5);
		width: calc(196px / 1.5);
	}
}

.footer-mainblock {

	&__button {
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: center;
		color: #2E363E;
		padding: 30px 50px;
		background-color: #FED84C;
		border-radius: 8px;
		margin: 0px 20px 0px 0px;
		transition: all 0.3s ease 0s;

		@media (max-width: $md3+px) {
			padding: 18px 38px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}

		@media (min-width: $md3+px) {
			&:hover {
				background-color: #FFFFFF;
			}
		}
	}

	&__text {
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
		max-width: 150px;

		@media (max-width: $md3+px) {
			background-color: rgba(0, 0, 0, 0.4);
			padding: 5px 5px;
			border-radius: 8px;
		}

		@media (max-width: $md4+px) {
			max-width: 100%;
		}
	}
}

//</MAINBLOCK>====================================================================================================
//<SHOP>====================================================================================================

.shop {
	margin: -2px 0px 0px 0px;
	background-color: #FFFFFF;

	&__images {}

	&__image {}

	&__container {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}

	&__body {
		margin: 0px 5px;
	}

	&__title {
		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		letter-spacing: -1px;
		text-align: center;
		color: #2E363E;
		margin: 0px 0px 80px 0px;

		@media (max-width: $md3+px) {
			font-size: 40px;
			line-height: 50px;
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 20px;

		@media (max-width: $md2+px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 600px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {}
}

.shop-raspberry {
	position: absolute;
	width: 190px;
	height: 194px;
	top: 13.5%;
	left: -9%;

	img {
		width: 100%;
	}

	@media (max-width: $md1+px) {
		left: -6%;
	}

	@media (max-width: $md2+px) {
		top: 11%;
	}

	@media (max-width: $md3+px) {
		top: 10%;
		height: calc(190px / 1.5);
		width: calc(194px / 1.5);
	}

	@media (max-width: 600px) {
		display: none;
	}
}

.shop-leafleft {
	position: absolute;
	width: 133px;
	height: 129px;
	top: 72%;
	left: -9%;

	img {
		width: 100%;
	}

	@media (max-width: 1300px) {
		left: -5%;
	}

	@media (max-width: $md1+px) {
		left: -4%;
	}

	@media (max-width: $md2+px) {
		top: 66%;
	}

	@media (max-width: 600px) {
		display: none;
	}

	@media (max-width: $md3+px) {
		height: calc(201px / 1.5);
		width: calc(196px / 1.5);
	}
}

.shop-leafright {
	position: absolute;
	width: 161px;
	height: 167px;
	top: 53%;
	right: -9%;

	img {
		width: 100%;
	}

	@media (max-width: 1300px) {
		right: -6%;
	}

	@media (max-width: $md1+px) {
		top: 46%;
	}

	@media (max-width: $md2+px) {
		top: 56%;
	}

	@media (max-width: 600px) {
		display: none;
	}

	@media (max-width: $md3+px) {
		height: calc(201px / 1.5);
		width: calc(196px / 1.5);
	}
}

.item-shop {
	width: 100%;
	border: 1px solid rgba(242, 246, 250, 1);
	border-radius: 10px;
	display: flex;
	flex-direction: column;

	&__image {
		img {
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		margin: 50px 44px;
		flex: 1 1 100%;

		@media (max-width: $md2+px) {
			margin: 25px 22px;
		}

		@media (max-width: 600px) {
			margin: 25px 0px 25px 0px;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 34px;
		letter-spacing: 0em;
		text-align: left;
		color: #2E363E;
		margin: 0px 0px 12px 0px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #2E363E;
		margin: 0px 0px 24px 0px;
		flex: 1 1 100%;
	}

	&__price {
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: #434B53;
		margin: 0px 0px 14px 0px;
	}

	&__button {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: center;
		color: #2E363E;
		padding: 20px 40px;
		background-color: #FED84C;
		border-radius: 8px;
		width: 163px;
		transition: all 0.3s ease 0s;

		@media (min-width: $md3+px) {
			&:hover {
				background-color: #ffeca5;
			}
		}

		@media (max-width: $md4+px) {
			width: 100%;
		}
	}
}

//</SHOP>====================================================================================================
//<CREATE>====================================================================================================

.create {
	position: relative;
	background-color: rgba(8, 17, 48, 1);

	&__leaf {
		position: absolute;
		width: 110px;
		height: 114px;
		top: 30%;
		left: 20%;
	}

	&__berry {
		position: absolute;
		width: 150px;
		height: 150px;
		top: 23%;
		right: 8%;
	}

	&__container {
		max-width: 1920px;
		margin: 0 auto;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		padding: 439px 10px 0px 0px;

		@media (max-width: 1700px) {
			padding: 230px 0px 0px 0px;
		}

		@media (max-width: 1400px) {
			flex-direction: column-reverse;
			align-items: center;
		}

		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 0px;
		}

		z-index: 3;
	}

	&__decor {
		flex: 0 1 60%;

		@media (max-width: 1400px) {
			height: 100%;
			width: 100%;
			flex: 1 1 100%;
		}
	}

	&__image {
		position: relative;
		padding-bottom: 100%;
		max-width: 1090px;
		max-height: 1034px;
		overflow: hidden;

		img {
			width: 100%;
		}

		@media (min-width: 1920px) {
			padding-bottom: 95%;
		}

		@media (max-width: 1530px) {
			padding-bottom: 10%;
		}

		@media (max-width: 1400px) {
			padding-bottom: 0;
		}
	}

	&__body {
		flex: 0 1 40%;
		max-width: 481px;
		margin: 120px 0px 0px 0px;
		z-index: 1;

		@media (max-width: 1400px) {
			flex: 1 1 100%;
			max-width: 780px;
		}

		@media (max-width: $md2+px) {
			margin: 120px 10px 0px 10px;
		}
	}

	&__category {
		display: inline-block;
		font-size: 11px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-align: left;
		text-transform: uppercase;
		color: #2E363E;
		padding: 10px 18px;
		background-color: #F2F6FA;
		border-radius: 5px;
		margin: 0px 0px 24px 0px;
	}

	&__title {
		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		letter-spacing: -1px;
		text-align: left;
		color: #FFFFFF;
		margin: 0px 0px 24px 0px;

		@media (max-width: $md4+px) {
			font-size: 38px;
			line-height: 45px;
		}
	}

	&__text {
		font-size: 21px;
		line-height: 30px;
		letter-spacing: -0.20000000298023224px;
		text-align: left;
		color: #FFFFFF;
		margin: 0px 0px 40px 0px;
	}

	&__button {
		position: relative;
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: center;
		color: #2E363E;
		padding: 30px 50px;
		border-radius: 8px;
		background-color: #FED84C;
		cursor: pointer;
		transition: all 0.5s ease 0s;

		@media (min-width: $md3+px) {
			&:hover {
				background-color: #FFFFFF;
			}
		}

		@media (max-width: $md4+px) {
			width: 100%;
			padding: 15px 0px;
		}
	}
}

.bg-create {

	&__top {
		position: absolute;
		width: 100%;
		top: -1px;
		left: 0;

		img {
			width: 100%;
		}
	}

	&__bottom {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 1;
		margin: 0px 0px -2px 0px;

		img {
			width: 100%;
		}
	}
}

.file {

	&__input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
}

//</CREATE>====================================================================================================
//<CONFECTIONER>====================================================================================================

.confectioner {

	&__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__content {
		margin: 10px 10px;
		display: flex;

		@media (max-width: 1120px) {
			flex-direction: column;
		}
	}

	&__body {
		flex: 0 1 50%;
		padding: 97px 0px 96px 0px;

		@media (max-width: 1120px) {
			margin: 0 auto;
			max-width: 550px;
			text-align: center;
			padding: 50px 0px 50px 0px;
		}
	}

	&__category {
		display: inline-block;
		font-size: 11px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #2E363E;
		padding: 10px 18px;
		border-radius: 5px;
		background-color: #F2F6FA;
		margin: 0px 0px 24px 0px;

		@media (max-width: $md4+px) {
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		letter-spacing: -1px;
		text-align: left;
		margin: 0px 0px 36px 0px;
		color: #2E363E;

		@media (max-width: $md3+px) {
			font-size: 36px;
			line-height: 50px;
		}

		@media (max-width: $md4+px) {
			font-size: 30px;
			line-height: 40px;
		}

	}

	&__list {
		max-width: 438px;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0px;
		text-align: left;
		color: #2E363E;
		margin: 0px 0px 50px 0px;
	}

	&__item {
		padding: 0px 0px 0px 22px;
		margin: 0px 0px 30px 0px;
		position: relative;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		&:before {
			position: absolute;
			content: '';
			top: 10%;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #5D6AFB;
		}
	}

	&__button {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: center;
		color: #2E363E;
		padding: 30px 50px;
		background-color: #FED84C;
		border-radius: 8px;
		transition: all 0.5s ease 0s;

		@media (max-width: $md4+px) {
			width: 100%;
		}

		@media (min-width: $md3+px) {
			&:hover {
				background-color: #ffeca5;
			}
		}
	}

	&__background {
		flex: 0 1 50%;
		align-items: center;
		justify-content: center;

		@media (max-width: 1120px) {
			display: inline-flex;
		}

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}

	&__images {
		position: relative;
	}

	&__image {
		@media (max-width: 1120px) {
			img {
				width: 100%;
			}
		}
	}

	&__cook {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 180px;
		left: 0;
		z-index: 6;

		@media (max-width: $md1+px) {
			left: 40px;
		}

		@media (max-width: $md3+px) {
			top: 0;
			left: 0;
		}
	}
}

.cook-confectioner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	max-width: 287px;
	margin: 370px 0px 0px -90px;

	@media (max-width: $md3+px) {
		max-width: 100%;
		justify-content: end;
		margin: 0px 0px 0px 0px;
	}

	&__name {
		position: relative;
		display: inline-block;
		padding: 15px 24px;
		font-size: 24px;
		font-weight: 500;
		line-height: 29px;
		letter-spacing: -0.30000001192092896px;
		color: #FFFFFF;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-color: #2E363E;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			transform: skewX(-10deg);
			z-index: -1;
		}

		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	&__label {
		position: relative;
		display: inline-block;
		padding: 15px 24px;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 1px;
		text-align: center;
		color: #2E363E;
		text-transform: uppercase;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-color: #F2F6FA;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			transform: skewX(-10deg);
			z-index: -1;
		}

		@media (max-width: $md4+px) {
			font-size: 12px;
			padding: 10px 18px;
		}
	}
}

.woman-confectioner {
	z-index: -1;
}

.berry-confectioner {
	position: absolute;
	top: 120px;
	left: -15px;
	z-index: -2;

	@media (max-width: 600px) {
		top: 100px;
		left: -10px;
	}

	@media (max-width: $md4+px) {
		top: 5px;
		left: -50px;
	}
}

.leaves-confectioner {
	position: absolute;
	top: 120px;
	right: 15px;
	z-index: -2;

	@media (max-width: 600px) {
		top: 100px;
		right: -10px;
	}

	@media (max-width: $md4+px) {
		top: 5px;
		right: -50px;
	}
}

//</CONFECTIONER>====================================================================================================
//<REVIEWS>====================================================================================================

.reviews {
	position: relative;
	background-color: rgba(8, 17, 48, 1);
	z-index: 0;

	&__container {
		margin: 0 auto;
	}

	&__content {
		padding: 330px 0px 288px 0px;

		@media (max-width: $md1+px) {
			padding: 330px 5px 288px;
		}

		@media (max-width: $md2+px) {
			padding: 230px 5px 200px;
		}

		@media (max-width: $md4+px) {
			padding: 130px 5px 100px;
		}
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__title {
		display: block;
		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		letter-spacing: -1px;
		text-align: center;
		color: #FFFFFF;
		margin: 0px 0px 80px 0px;
		z-index: 5;

		@media (max-width: $md4+px) {
			font-size: 38px;
			line-height: 45px;
		}
	}
}

.background-reviews {

	&__top {
		position: absolute;
		width: 100%;
		top: -2px;
		left: 0;

		img {
			width: 100%;
		}
	}

	&__bottom {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;

		img {
			width: 100%;
		}
	}

	&__leaf {
		position: absolute;
		width: 100%;
		top: 20%;
		left: 10%;
		z-index: -1;

		@media (max-width: $md3+px) {
			top: 10%;
		}

		@media (max-width: $md4+px) {
			top: 9%;
		}
	}
}


div.swiper-slide-active .swiper-slide-visible {
	margin: 0px 25px;
}

.swiper {
	&__berry {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -7%;
		right: -75%;
		z-index: 2;

		@media (max-width: $md3+px) {
			top: -35px;
			width: 150px;
			height: 150px;
			right: 0;

			img {
				width: 100%;
			}
		}
	}
}

.swiper-wrapper {}

.swiper-slide {
	background-color: #FFFFFF;
	border-radius: 5px;
	max-width: 1180px;

	&__content {
		margin: 70px 143px;

		@media (max-width: $md1+px) {
			margin: 45px 72px;
		}

		@media (max-width: $md2+px) {
			margin: 20px 30px;
		}

		@media (max-width: 600px) {
			margin: 20px 20px;
		}
	}

	&__columns {
		display: flex;
		flex: 1 1 100%;

		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 60%;
	}

	&__image {
		flex: 0 1 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
		}
	}
}

.more {
	display: none;
}

.swiper-column {

	&__content {
		margin: 0px 54px 0px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__item {
		margin: 0px 0px 24px 0px;
	}

	&__title {
		font-size: 30px;
		font-weight: 500;
		line-height: 43px;
		letter-spacing: 0em;
		color: #2E363E;
		margin: 0px 0px 24px 0px;
		z-index: 3;
	}

	&__text {
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: left;
		color: #2E363E;
		margin: 0px 0px 24px 0px;
	}

	&__button {}

	&__image {
		margin: 0px 0px 30px 0px;
	}

	&__name {
		font-size: 21px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: center;
		color: #2E363E;
	}

	&__city {
		font-size: 16px;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: center;
		color: #A6AEB6;
	}
}

.image-elena {
	border-radius: 50%;
	overflow: hidden;
}

div.slider-prev:before,
div.slider-prev:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background: url('../img/reviews/arrow-prev.png') 45% center no-repeat;
	background-color: #FED84C;
}

.slider-next:before,
.slider-prev:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background: url('../img/reviews/arrow-next.png') 55% center no-repeat;
	background-color: #FED84C;
}

div.swiper-3d .swiper-slide-shadow-left,
div.swiper-3d .swiper-slide-shadow-right {
	background: linear-gradient(rgba(8, 17, 48, 0.93), rgba(8, 17, 48, 0.93));
	width: 101%;
	height: 101%;
	top: -2px;
	left: -2px;
}

.swiper__buttons {
	position: relative;
	display: flex;
	width: 100%;
	height: 70px;
	align-items: center;
	justify-content: center;
	margin: 66px 0px 0px 0px;
	z-index: 6;

	@media (max-width: $md2+px) {
		margin: 40px 0px 0px 0px;
	}

	@media (max-width: $md3+px) {
		margin: 20px 0px 0px 0px;
	}
}

.slider-prev,
.slider-next {
	position: relative;
	width: 66px;
	height: 66px;
	z-index: 2;
	cursor: pointer;
}

.slider-prev {
	margin: 0px 12px 0px 0px;
	left: 0;
}

.slider-next {
	margin: 0px 0px 0px 12px;
	right: 0;
}

//</REVIEWS>====================================================================================================